.header-main {
  display: flex;
  justify-content: space-between;
  max-height: 40px;
  margin-top: 10px; 
  margin-right: 10px;
  margin-left:10px;
  border: 1px solid grey; 
  border-radius: 5px;
  align-items: center; 
}

.header-container {
  display: flex;
  align-items: center; 
}

.home{
  margin-left: 10px;
  margin-right: 10px;
}

.document-name {
  margin-right: 10px; 
  margin-left: 10px;
}

.document-name-input {
  background-color: transparent; 
  border: none; 
  border-bottom: 1px solid grey; 
  outline: none; 
  padding: 4px !important; 
  margin-bottom: 5px; 
  color: white; 
  line-height: normal; 
}


.logoContainer {
  display: flex;
  justify-content: center; 
  align-items: center;
}

.logo {
  max-width: 50px; 
  max-height: 100%; 
}

.right {
  display: flex;
  align-items: center; 
  justify-content: flex-end;
}

input[type="file"] {
  /* text-decoration: white; */
}

.custom-file-upload {
  /* border: 1px solid #ccc; */
  display: inline-block;
  padding: 1px 2px; 
  border: 1px solid grey; 
  margin-right: 5px;
  cursor: pointer;
  /* background-color: white; Set the background color */
  /* color: rgb(70, 70, 70);; Set the text color */
  color: white;
  /* border-radius: 5px; */
}

/* Style the label to look like a file input */
.custom-file-upload:hover {
  background-color: #f0f0f0; /* Change background on hover */
}
