.header-main {
  display: flex;
  justify-content: space-between;
  max-height: 40px;
  margin-top: 10px; 
  margin-right: 10px;
  margin-left:10px;
  border: 1px solid grey; 
  border-radius: 5px;
  align-items: center; 
}

.header-container {
  display: flex;
  align-items: center; 
}

.home{
  margin-left: 10px;
  margin-right: 10px;
}

.document-name {
  margin-right: 10px; 
  margin-left: 10px;
}

.document-name-input {
  background-color: transparent; 
  border: none; 
  border-bottom: 1px solid grey; 
  outline: none; 
  padding: 4px !important; 
  margin-bottom: 5px; 
  color: white; 
  line-height: normal; 
}


.logoContainer {
  display: flex;
  justify-content: center; 
  align-items: center;
}

.logo {
  max-width: 50px; 
  max-height: 100%; 
}

.right {
  display: flex;
  align-items: center; 
  justify-content: flex-end;
}

input[type="file"] {
  /* text-decoration: white; */
}

.custom-file-upload {
  display: inline-block;
  border: 1px solid grey; 
  /* margin-right: 5px; */
  padding: 2px;
  margin-right: 10px;
  cursor: pointer;
  color: white;
  padding: 1px 1px; /* Example padding, adjust as needed */
  font-size: 14px; /* Example font size, adjust as needed */
  /* line-height: 1; Adjust line height as needed */
  height: 100%;
  box-sizing: border-box; /* Include padding and border in width/height */
}
