.master {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Full viewport height */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.header { 
  flex: 0 1 auto; /* Header size based on content, can shrink but not grow */
  /* Set other styles as needed */
}

.main {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto; /* Takes up the remaining space, can grow and shrink */
  margin: 10px; 
  padding: 0;
  box-sizing: border-box;
}
  
  .component {
    /* max-height: 100%; Full height of the container */
    /* Ensure the sum of flex-basis values does not exceed 100% */
    overflow-y: scroll;
  }
  
  .editor {
    /* max-height: 100%; */
    /* overflow-y: scroll; */
  }


  
  
  
  